
body {
  margin: 0;
}

ul {
  position: fixed;
  width: 100%;
  z-index: 4;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.45);
  box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.45);
  text-align: center;
}

li {
  float: left;
  align-items: center;
  text-align: center;
}
  
li a {
  display: block;
  color: rgb(27, 27, 27);
  text-align: center;
  padding: 18px 22px;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  font-size: 17px;
}

li a:hover:not(.active) {
  background-color: rgb(214, 214, 214);
}

.separator-type, .title-type, .intro-type, .content-type .intro-type p {
  position: relative;
}

.intro-type .container {
  padding: 400px 0px 102px 0px !important;
}

.company-heading p {
  margin-bottom: 80px;
  line-height: 50px;
  font-size:80px;
  color: rgb(247, 247, 247);
  font-weight: 90 !important;
  text-align: center;
  font-family: 'Space Mono', monospace;
}

.jumbo {
  margin-top: 140px;
  margin-bottom: 60px;
}

.fontthing {
  font-family: 'Quicksand', sans-serif;
}

.fontthing2 {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}


.seo-header, .product-header, .intro-type .container h1.white, .company-heading h1 {
  font-weight: 100 !important;
  text-transform: capitalize;
  font-size: 55px;
  margin-bottom: 20px;
}

.parallax {
  background-attachment: inherit !important;
}

.parallax {
  background-attachment: inherit !important;
}

.parallax {
  background-attachment: inherit !important;
  filter: brightness(45%);
  background-repeat: repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  z-index: -10;
}

.ct-btn-scroll {
  width: 49px;
  height: 49px;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  margin: auto;
  padding-top: 500px;
  z-index: 9;
  border-radius: 50%;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

img, figure {
  max-width: 100%;
}
