body {
  margin: 0;
}

ul {
  position: fixed;
  width: 100%;
  z-index: 4;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(247, 247, 247);
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.45);
  box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.45);
  text-align: center;
}


li {
  float: left;
  align-items: center;
  text-align: center;
}

li a {
  display: block;
  color: rgb(27, 27, 27);
  text-align: center;
  padding: 18px 22px;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
  font-size: 17px;
}


li a:hover:not(.active) {
  background-color: rgb(214, 214, 214);
}

.img1 {
  filter: brightness(45%);
  position: fixed;
  z-index:-3;
  width: 120%;
  -webkit-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.45);
  box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.45);
}
  
.square {
  height: 2000px;
  width: 1000px;
  background-color: rgb(247, 247, 247);
  margin-top: 200px;
  display: center;
  margin-top: 200px;
  margin-bottom: 200px;
  position: absolute;
  border-radius: 130px;
  font-family: "Courier New", Times, serif;
  color: grey;
  text-align: left;
  font-size: 30px;
  -webkit-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 2px rgba(0,0,0,0.75);
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

#text0 {
  z-index: 3;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 150px;
  font-size: 60px;
  color: rgb(51, 51, 51);
  padding-right: 20px;
  font-family: 'Quicksand', sans-serif;
  
}

#text {
  z-index: 3;
  position: absolute;
  margin-right: 20%;
  margin-left: 50%;
  margin-top: 140px;
  font-size: 20px;
  padding-right: 20px;
  
}

#text2 {
  z-index: 3;
  position: absolute;
  margin-right: 20%;
  margin-left: 50%;
  margin-top: 340px;
  font-size: 20px;
  padding-right: 20px;
}

#text3 {
  z-index: 3;
  position: absolute;
  margin-right: 20%;
  margin-left: 50%;
  margin-top: 540px;
  font-size: 20px;
  padding-right: 20px;
}

#text4 {
  z-index: 3;
  position: absolute;
  margin-right: 20%;
  margin-left: 50%;
  margin-top: 740px;
  font-size: 20px;
  padding-right: 20px;
}

#text5 {
  z-index: 3;
  position: absolute;
  margin-right: 20%;
  margin-left: 50%;
  margin-top: 940px;
  font-size: 20px;
  padding-right: 20px;
}

.i1 { 
  object-fit: cover;
  z-index: 3;
  position:  absolute;
  margin-left: 25%;
  margin-top: 140px;
}
.i2 { 
  object-fit: cover;
  z-index: 3;
  position:  absolute;
  margin-left: 25%;
  margin-top: 340px;
}

.i3 { 
  object-fit: cover;
  z-index: 3;
  position:  absolute;
  margin-left: 25%;
  margin-top: 540px;
}

.i4 { 
  object-fit: cover;
  z-index: 3;
  position:  absolute;
  margin-left: 25%;
  margin-top: 740px;
}
.i5 { 
  object-fit: cover;
  z-index: 3;
  position:  absolute;
  margin-left: 25%;
  margin-top: 940px;
}

#move { 
margin-top: 150px;
z-index: 3;
position: absolute;
}